body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
    width: 400px;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    main {
        height: 100vh;
        margin-top: none;
        align-items: flex-start;
    }

    form {
        margin: 10px;
        background-color: none;        
    }
  }

input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border-radius: 5px;
}

#background {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    opacity: 0.90;
    z-index: -1;
    top: 0px;
}

.btn-entrar {
    background-color: darkcyan;
    border: none;
    width: 100px;
    color: #fff;
}